<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>weblibtests</display-name>
  <welcome-file-list>
    <welcome-file>admin.html</welcome-file>
  </welcome-file-list>
	
	
	
<!-- 	<jsp-config> -->
<!-- 		<taglib> -->
<!-- 			<taglib-uri>http://www.e-cosystems.org/taglib</taglib-uri> -->
<!-- 			<taglib-location>/WEB-INF/lib/weblib-0.0.2.jar</taglib-location> -->
<!-- 		</taglib> -->
<!-- 	</jsp-config> -->


	<filter>
    <filter-name>CharsetFilter</filter-name>
    <filter-class>org.ecosystems.weblib.filter.CharsetFilter</filter-class>
    <init-param>
      <param-name>requestEncoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>CharsetFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

<servlet>
        <description>Servlet d'initialisation de Log4j</description>
        <display-name>Log4JInitServlet</display-name>
        <servlet-name>Log4JInitServlet</servlet-name>
        <servlet-class>org.ecosystems.weblib.init.Log4JInitServlet</servlet-class>
        <init-param>
          <param-name>log4j-xml-location</param-name>
          <param-value>WEB-INF/log4j.xml</param-value>
        </init-param>
        <load-on-startup>2</load-on-startup>
      </servlet>
  <servlet>
    <description></description>
    <display-name>Log4JTestServlet</display-name>
    <servlet-name>Log4JTestServlet</servlet-name>
    <servlet-class>org.ecosystems.weblib.init.Log4JTestServlet</servlet-class>
    <load-on-startup>5</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>ConfigServlet</servlet-name>
    <servlet-class>org.ecosystems.weblib.init.ConfigServlet</servlet-class>
    <init-param>
      <param-name>config-location</param-name>
      <param-value>WEB-INF/wlconfig.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>FormInitServlet</servlet-name>
    <servlet-class>org.ecosystems.weblib.init.FormInitServlet</servlet-class>
    <init-param>
      <param-name>forms-xml-location</param-name>
      <param-value>WEB-INF/testForm.xml</param-value>
    </init-param>
    <load-on-startup>4</load-on-startup>
  </servlet>

	
	
	
	<servlet>
        <servlet-name>Add</servlet-name>
        <servlet-class>org.ecosystems.weblibtests.servlet.Add</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>Added</servlet-name>
        <servlet-class>org.ecosystems.weblibtests.servlet.Added</servlet-class>
    </servlet>
	
	
	
	<servlet-mapping>
        <servlet-name>Add</servlet-name>
        <url-pattern>/add.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Added</servlet-name>
        <url-pattern>/added.html</url-pattern>
    </servlet-mapping>
	
<servlet>
	<servlet-name>AdminTestServlet</servlet-name>
	<servlet-class>org.ecosystems.weblibtests.servlet.AdminTestServlet</servlet-class>	
</servlet>

<servlet-mapping>
	<servlet-name>AdminTestServlet</servlet-name>
	<url-pattern>/admin.html</url-pattern>
</servlet-mapping>




</web-app>
